#home header .btn_area{
    display:flex;
    flex-direction: row;
}

section {
    display:block;
    unicode-bidi:isolate;
}

#home .sec00{
    padding: 160px 0 100px; text-align: center;
}

#home .sec00 .txt_area {
    margin-bottom: 52px;
}

#home .sec00 .txt_area h1{
    font-size: 52px;
    font-weight : 800;
    line-height: 62.4px;
    color: #4541FF;
    margin-bottom: 20px;
    
}

#home .sec00 .btn_area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

#home .sec00 .btn_area a{
    font-size:16px;
    font-weight: 800;
    border-radius: 100px;
    padding: 16px 32px;
}

#home .sec00 .btn_area a:nth-child(1){
    color : #fff;
    background-color: #4541FF;
}

#home .sec00 .btn_area  a:nth-child(2){
    color: #4541FF;
    background-color: #fff;
    border: 1px solid #4541FF;
}


#home .sec00 .txt_area p {
    color: #828282;
    font-size:  18px;
    font-weight: 400;
    line-height: 28.8px;
}


@keyframes slide {

    100% {transform: translateX(-100%);} 
}

#home .sec01 {
    display:flex;
    flex-direction: column;
    padding: 100px 0;
    overflow: hidden;
    filter: drop-shadow(rgba(50, 83, 198, 0.14) 0px 18px 40px);
    background:linear-gradient(180deg, rgba(69, 65, 255, 0.00) 0%, rgba(69, 65, 255, 0.15) 49.94%, rgba(69, 65, 255, 0.00) 100%);
}

#home .sec01 .slide.slide1{
    display:flex;
    align-items: flex;
    flex-direction : row;

    /* animation */
    animation-name : slide;
    animation-direction : normal;
    animation-duration : 24s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    margin-bottom: 24px;

}

#home .sec01 .slide.slide2{
    width: 100%;    
    display:flex;
    align-items: flex;
    flex-direction : row;

    /* animation */
    animation-name : slide;
    animation-direction : reverse;
    animation-duration : 24s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

#home .sec01 .slide .comp{
    flex: none;
    width: 282px;
    height: 180px;
    border-radius :20px;
    margin-right: 24px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.10);
}

#home .sec01 .slide .comp .icon{
    width: 30px;
    margin-bottom:58px;
}

#home .sec01 .slide .comp .icon img{
    width: 100%;
    display: block;
}

#home .sec01 .slide .comp .text p{
    color: #1A1A1A;
    font-size : 20px;
    font-weight: 700;
    margin-bottom : 10px;
    line-height: 20px;
}

#home .sec01 .slide .comp .text span{
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height:22.4px;
}

#home .sec02{
    width: 100%;
}

#home .sec02 .brand_area {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:48px 20px;
}

#home .sec02 .brand_area .brand {
    width:224px;
}

#home .sec02 .brand_area .brand img{
    width:100%;
}